/* -------------------------------------------------------------- 
  
   Boilerplate Print Styles
   * Version:   0.5 (2007-11-19)
	 
-------------------------------------------------------------- */
@import "screen.css";
body {
	color: #000;
	background: none;
	font-size: 10pt;
	width: 50em;
}

code {
	font: .9em Courier, monospace;
}

img {
	float: left;
	margin: 1.5em 1.5em 1.5em 0;
}

a img {
	border: none;
}

p img.top {
	margin-top: 0;
}

hr {
	background: #ccc;
	color: #ccc;
	width: 100%;
	height: 2px;
	margin: 2em 0;
	padding: 0;
	border: none;
}

blockquote {
	margin: 1.5em;
	padding: 1em;
	font-style: italic;
	font-size: .9em;
}

.small {
	font-size: .9em;
}

.large {
	font-size: 1.1em;
}

.quiet {
	color: #999;
}

.hide {
	display: none;
}

object {
	display: none;
}

a:link,a:visited {
	background: transparent;
	text-decoration: none;
	color: #000;
}

#resume {
	width: 50em;
}

.jobdesc {
	background-color: white;
	border-bottom: 1px solid #888;
	padding:0;
	margin-left:1em;
}

.jobbody {
	border: 0;
}

